annotated-types==0.7.0
anyio==4.14.0
asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==49.0.0
deprecation==2.1.0
dj-database-url==3.1.2
Django==6.0.4
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.17.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
iniconfig==2.3.0
marshmallow==3.26.1
multidict==6.7.1
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
postgrest==2.31.0
propcache==0.5.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.0
pytest-django==4.12.0
python-decouple==3.8
realtime==2.31.0
requests==2.34.2
sqlparse==0.5.5
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
transbank-sdk==6.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
websockets==15.0.1
whitenoise==6.12.0
yarl==1.24.2
